@page "/calculator"

<h3>Jednostavan Kalkulator</h3>

<div>
    <label>Prvi broj:</label>
    <input @bind="firstNumber" class="form-control" style="max-width:150px;" type="number" />
</div>
<div>
    <label>Drugi broj:</label>
    <input @bind="secondNumber" class="form-control" style="max-width:150px;" type="number" />
</div>
<p>
</p>
<div>
    <button class="btn btn-primary btn-lg" @onclick="AddNumbers">Saberi</button>
</div>
<p>
</p>
<h4>Rezultat: @result</h4>

@code {
    private double firstNumber = 0;
    private double secondNumber = 0;
    private double result = 0;

    private void AddNumbers()
    {
        result = firstNumber + secondNumber;
    }
}
