@page "/counter"

<PageTitle>Dodaj27</PageTitle>

<h1>🎮 Dodaj27</h1>

<p role="status">Tvoj broj: @sadasnjirez</p>

<button class="btn btn-primary" @onclick="IncrementCount">!KLIKNI!</button>

@code {
    private int sadasnjirez = -2;

    private void IncrementCount()
    {
        sadasnjirez+=27;
    }
}
