@page "/counter"

<PageTitle>Dodaj27</PageTitle>

<h1>🎮 Dodaj27</h1>

<p role="status">Tvoj broj: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">!KLIKNI!</button>

@code {
    private int currentCount = -2;

    private void IncrementCount()
    {
        currentCount+=27;
    }
}
