@page "/"

<PageTitle>Dobodošli!</PageTitle>

<h1>Dobrodošli u raj!</h1>

Evo slike nekih dobrih gitara.

<img src="Gibson-Hero-NEW@2560x1625.jpg" alt="Gitara GibsonES335" class="img-fluid rounded shadow">
