@page "/pogadjanje"

<h3>ðŸŽ² Pogodi broj</h3>

<p>ZamiÅ¡ljen je broj izmeÄ‘u 1 i 20. Probaj da ga pogodiÅ¡!</p>

<input type="number" @bind="userGuess" class="form-control" style="width:200px; display:inline-block;" />
<button class="btn btn-primary ms-2" @onclick="CheckGuess">Pogodi</button>

@if (!string.IsNullOrEmpty(message))
{
    <p class="mt-3">@message</p>
}

<button class="btn btn-secondary ms-2" @onclick="NewGame">Nova igra</button>

@code {
    private int secretNumber;
    private int userGuess;
    private string message = "";

    protected override void OnInitialized()
    {
        NewGame();
    }

    private void CheckGuess()
    {
        if (userGuess == secretNumber)
        {
            message = $"ðŸŽ‰ Pogodio si! Broj je {secretNumber}.";
        }
        else if (userGuess < secretNumber)
        {
            message = "â¬†ï¸ ZamiÅ¡ljeni broj je veÄ‡i.";
        }
        else
        {
            message = "â¬‡ï¸ ZamiÅ¡ljeni broj je manji.";
        }
    }

    private void NewGame()
    {
        var rnd = new Random();
        secretNumber = rnd.Next(1, 21); // broj od 1 do 20
        message = "";
        userGuess = 0;
    }
}
